*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: #ebecf1;
    height: 100%;
    width:50%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
h1{ 
    color: #1b262c;
    font-size:40px;
    width: 100%;
    text-align:center;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: solid 1px grey;
}
form{
    display:flex;
    flex-direction:column;
    
}
#discription{
    padding-bottom:20px;
    border-bottom: solid 1px grey;
    padding-left: 10px;
}
#discription input,#category select{
    outline:none;
    border:none;
    background-color: #ebecf1;
    width: 100%;
    font-size:15px;
}
 label{
    color: #1b262c;
    font-weight: bold;
    font-size:17.5px;
}
#catDate{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom:20px;
    border-bottom: solid 1px grey;
}
#category,#date
{
    width: 47.5%;
}

#date input{
    outline: none;
    border:none;
    background-color: #ebecf1;
    font-size:15px;
    padding-right: 15px;
}
#add{
    width:100%;
    text-align: center;
    border-bottom: solid 1px grey;
}
#add button{
    color: whitesmoke;
    font-size: 25px;
    background-color: #383e56;
    outline: none;
    width: 200px;
    height:50px;
    margin-top:25px;
    margin-bottom:25px;
}
ul{
    list-style: none;
}
li{
    display: flex;
    flex-direction: row;
    width: 100%;
}
li input{
    width:10%;
    margin-top: 1em;
}
input:checked + div label {
    background: #f9f9f9;
    text-decoration: line-through;
}
li div{
    width: 50%;
}
#catdel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#cattext{
    text-align: center;
    color: whitesmoke;
    background-color: #3b2e5a;
    width: 125px;
    margin-top: 5px;
    margin-bottom: 5px;
    height:40px;
    vertical-align: middle;
    font-size:20px;
}
#cattext p{
    margin-top:.3em;
    font-weight: bold;
}

#deleteBtn{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 125px;
    height:40px;
    font-size:20px;
    text-align: center;
    color: whitesmoke;
    background-color: #900d0d;
}
#deleteBtn i{
    margin-top:.5em;
}
#deleteBtn:hover{
    background-color: #cf1b1b;
}